.RCH-outer-container{
    height: 200vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20vw;
}

.RCH-inner-container{
    width: 95%;
    height: 95%;
}

.RCH-card-container{
    display: flex;
    justify-content: space-between;
    /* px solid red; */
    margin-top: 2rem;
}

.RCH-card2-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
